*{
    margin: 0;
    padding: 0;
}
/*header*/
header{
    width: 80%;
    margin: 0 auto;
}
 .header-content{
     width: 80%;
     margin: 0 auto;
     display: flex;
     justify-content: space-between;
     align-items: center ;
 }


.multiple-row{
    display: flex;

}
.multiple-row .input-container:first-child{
    width: 50%;
    max-width: 180px;
}