@font-face {
    font-family: 'HelveticaNeue';
    src: url('fonts/HelveticaNeueLight.eot');
    src: url('fonts/HelveticaNeueLight.eot?#iefix') format('embedded-opentype'),
    url('fonts/HelveticaNeueLight.woff2') format('woff2'),
    url('fonts/HelveticaNeueLight.woff') format('woff'),
    url('fonts/HelveticaNeueLight.ttf') format('truetype'),
    url('fonts/HelveticaNeueLight.svg#HelveticaNeueLight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('fonts/HelveticaNeueMedium.eot');
    src: url('fonts/HelveticaNeueMedium.eot?#iefix') format('embedded-opentype'),
    url('fonts/HelveticaNeueMedium.woff2') format('woff2'),
    url('fonts/HelveticaNeueMedium.woff') format('woff'),
    url('fonts/HelveticaNeueMedium.ttf') format('truetype'),
    url('fonts/HelveticaNeueMedium.svg#HelveticaNeueMedium') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('fonts/HelveticaNeueBold.eot');
    src: url('fonts/HelveticaNeueBold.eot?#iefix') format('embedded-opentype'),
    url('fonts/HelveticaNeueBold.woff2') format('woff2'),
    url('fonts/HelveticaNeueBold.woff') format('woff'),
    url('fonts/HelveticaNeueBold.ttf') format('truetype'),
    url('fonts/HelveticaNeueBold.svg#HelveticaNeueBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

body {
    background: #F2F2F2;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'HelveticaNeue', sans-serif;
    font-weight: 400;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

/*header*/
header {
    width: 100%;
    margin: 0 auto 30px;
    background: #FFFFFF;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.header-content {
    width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

}

header:after {
    content: "";
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, #7E00E8 0%, #FF1876 54.17%, #BB0CB2 100%);
    opacity: 0.3;
    display: block;
}

.logo-text {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo-text p {
    color: #5A1094;
    margin-left: 10px;
}

.cart-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.cart-text {
    color: #C90EA5;
}

.cart-icon {
    margin-left: 10px;
    position: relative;
}

.cart-number-container {
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background: #FF1876;
    border: 1px solid #FFFFFF;
    position: absolute;
    top: -9px;
    right: -10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.cart-number {
    margin: 0 auto;
    font-size: 9px;
    text-align: center;
    color: #FFFFFF;

}

/*header end*/
/*main header*/
.general-order {
    display: flex;
    justify-content: center;
    width: 700px;
    margin: 0 auto;
    box-shadow: 0 2px 18px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
    overflow: hidden;
}

.order-forms {
    background: linear-gradient(180deg, #FFFFFF 0%, #FEFEFE 100%);
    min-width: 400px;
    min-height: 650px;
    padding: 20px 40px 45px;
    box-sizing: border-box;

}

.header {
    margin-bottom: 30px;

}

.header nav ul {
    width: 60%;
    max-width: 208px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.step-title {
    list-style: none;
    font-size: 12px;
    line-height: 14px;
    color: #979797;
    opacity: 0.8;
    display: flex;
    align-items: center;
}

.warning-message {
    opacity: 0;
    visibility: hidden;
    color: red;
    position: absolute;
    top: -44px;
    left: 0;
    /* width: 199px; */
    padding: 10px;
    background: white;
    border-radius: 8px;
    background: #FFFFFF;
    border: 1px solid rgba(222, 220, 220, 0.695907);
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    font-size: 13px;
    line-height: 16px;
}

.warning-message:after{
    content: "";
    width: 0;
    height: 0;
    border: 10px solid #ffffff;
    border-left: transparent 9px solid;
    border-right: transparent 9px solid;
    border-bottom: 9px solid transparent;
    display: block;
    position: absolute;
    bottom: -19px;
    /* box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1); */
}
.step-title:not(:last-child):after {
    content: "";
    background: url("images/arrow.png");
    width: 12px;
    height: 20px;
    display: inline-block;
    margin-left: 10px;

}

/*main header end*/

/*main form-container */
.form-container {
    position: relative;
}

.form-container > div {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

/*shipping info*/
.title {
    font-size: 26px;
    color: #5A1094;
    margin-bottom: 20px;
    line-height: 31px;
    font-weight: 600;

}

.small-title {
    font-size: 16px;
    color: #5A1094;
    line-height: 18px;
}

.input-container {
    margin: 10px 0;
}

.input-container input {
    width: 100%;
    max-width: 320px;
    background: #FFFFFF;
    border: 1px solid #DEDCDC;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 11px;
}

.multiple-row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.multiple-row .input-container:first-child {
    width: 50%;
    max-width: 180px;
}

.number-text {
    width: 35%;
    margin-right: 25px;
    font-size: 13px;
    line-height: 12px;
    color: #777879;
}

.multiple-row .input-container select {
    width: 100%;
    /* background: #FFFFFF; */
    border: 1px solid #DEDCDC;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 11px;
    -webkit-appearance: none;
    background: url("images/country-path.svg") no-repeat top 20px right 10px, #FFF;
}

.address {
    margin-top: 20px;
}

.zip-container {
    margin-left: 20px;
}

.input-zip {
    width: 40%;

}

.btn {
    background: rgba(90, 16, 148, 0.8);
    border: 1px solid rgba(67, 28, 93, 0.8);
    box-sizing: border-box;
    border-radius: 5px;
    max-width: 200px;
    width: 45%;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    padding: 12px 14px;
    margin-top: 10px;
    cursor: pointer;
}

.geolocation {
    position: relative;
}

.geolocation-icon {
    position: absolute;
    top: 10px;
    right: 10px;
}

.geolocation-icon img {
    display: block;
}

/*shipping-info end*/
/*billing-info*/

.title-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.big-title {
    font-size: 22px;
    color: #5A1094;
}

.title-child {
    font-size: 12px;
    line-height: 14px;
    color: #5A1094;
    font-weight: bold;
    cursor: pointer;

}

.title-child:after {
    content: "";
    width: 100%;
    height: 1px;
    opacity: 0.5;
    display: block;
    background: #5A1094;
}

/*billing-info end*/

/*payment-info*/
.payment-security {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 300px;
    align-items: center;
}

.secure-text {
    font-size: 12px;
    line-height: 18px;
    color: #6B6B6B;
}

.cardholder {
    margin-bottom: 20px;
}

.card-number {
    margin-bottom: 20px;
}

.date-security-code {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.codeDate-title {
    font-size: 16px;
    line-height: 18px;
    color: #5A1094;
    display: inline-block;
    margin-bottom: 5px;
}

.date {
    width: 95px;
    background: #FFFFFF;
    border: 1px solid #DEDCDC;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
}

.code {
    width: 95px;
    background: #FFFFFF;
    border: 1px solid #DEDCDC;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 11px;
}

/*payment-info end*/

/*thanks-message*/
.thanks-message {
    font-family: 'HelveticaNeue', sans-serif;
}

.main-message {
    font-size: 26px;
    line-height: 31px;
    color: #5A1094;
    margin: 30px 0;
    font-weight: 600;
}

.order-number {
    font-size: 16px;
    line-height: 19px;
    color: #2B2525;
    font-weight: 600;
    margin: 10px 0;
}

.email-explanation {
    font-size: 16px;
    line-height: 18px;
    color: #2B2525;
    margin-bottom: 30px;
}

.email {
    color: #5A1094;
}

.delivery {
    font-size: 16px;
    line-height: 18px;
    color: #2B2525;

}

.delivery-date {
    font-weight: 600;
    display: block;

}

.recipe {
    font-size: 13px;
    line-height: 13px;
    color: #5A1094;
    margin-top: 30px;
    display: inline-block;
    font-weight: 600;
}

.recipe:after {
    content: "";
    width: 100%;
    height: 1px;
    opacity: 0.5;
    display: block;
    background: #5A1094;
}

/*thanks-message end*/

/*main form-container */

/*order-summary*/
.order-summary {
    min-width: 300px;
    background: #E6E9F0;
    opacity: 1;
    padding: 25px 12px;
    box-sizing: border-box;
}

.order-titles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 12px;
}

.order-titles-big {
    font-size: 16px;
    line-height: 18px;
    color: #5A1094;
    font-weight: 600;
}

.order-titles-small {
    font-size: 12px;
    line-height: 14px;
    color: #979797;
}

.order-titles-small:after {
    content: "";
    width: 100%;
    height: 1px;
    opacity: 0.5;
    background: #6B6B6B;
    display: block;
}

.order-things-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.gray {
    font-size: 12px;
    line-height: 20px;
    color: #777879;
}

.things-description {
    font-size: 10px;
    line-height: 12px;
    color: #2B2525;
    flex-grow: 1;
    margin: 0 10px;
}

.things-image {
    width: 45px;
    height: 45px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F3F3F3;
    border: 1px solid #E3E3E3;
    border-radius: 1px;
}

.things-image img {
    width: 90%;
    height: 90%;
}

.things-price {
    font-size: 12px;
    line-height: 11px;
    color: #777879;
}

.desc {
    margin-right: 45px;
}

.order-things-container span {
    display: block;
}

.taxes {
    margin: 20px 0;
    font-size: 12px;
    line-height: 20px;
    color: #777879;

}

.subtotal {
    display: flex;
    justify-content: space-between;
}

.shipping {
    display: flex;
    justify-content: space-between;
}

.taxes2 {
    display: flex;
    justify-content: space-between;
}

.totals {
    display: flex;
    justify-content: space-between;
    margin: 20px 10px;
    font-size: 12px;
    color: #431C5D;
}

.totals span {
    font-weight: 600;
}

.gray-line {
    margin-bottom: 20px;
    width: 100%;
    height: 2px;
    opacity: 0.2;
    background: #979797;
}

/*order-summary end*/

/* functional-part*/
.input-field.invalid, .country-input.input-field.invalid {
    background-color: #fefdef;
}

.warning-message.show{
    opacity: 1;
    visibility: visible;
}
.input-container{
    position: relative;
}
.active{
    color: #5A1094;
}
/* functional-part-end*/